:root {
  --card-background-color: #fff;
  --card-padding: 1rem;
  --card-border: 1px solid #777;
  --card-border-radius: 0.25rem;
  --card-width: 80%;
  --card-max-width: 25rem;

  --card-image: url(./assets/0x0.webp);
  --card-image-hight: 14rem;
}

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

body {
}

.card {
  background-color: var(--card-background-color);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  width: var(--card-width);
  max-width: var(--card-max-width);
}

.card-header {
}

.card-header--title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  padding: var(--card-padding);
}

.card-header--photo {
  background-image: var(--card-image);
  width: 100%;
  height: var(--card-image-hight);
  background-size: cover;
}

.card-body {
  padding: var(--card-padding);
}

.card-footer {
  padding: var(--card-padding);
}

.card-footer--details-btn {
}

.card-footer--contact-seller-button {
}
